.loginbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: auto;
  padding: 40px 40px;
  margin-top: 30px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  display: none;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 0 20px;
  color: #000000;
  text-align: center;
}

.loginbox p {
  font-size: 17px;
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.loginbox input {
  width: 100%;
  margin-bottom: 10px;
}

.loginbox input[type="text"],
.loginbox input[type="email"],
.loginbox input[type="password"] {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  background: #000000;
  color: #ffffff;
}

.loginbox a {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
}

::placeholder {
  color: rgba(68, 68, 68, 0.5);
}
