<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/lisu.css">
</head>
<body>

    <!-- login form -->

<div class="loginbox" id="login">
    <form action="login" method="POST" name="loginform" onsubmit="return validate();">
        {% csrf_token %}
        <button type="button" style="float:right;background:none;border:none;" onclick="loginclose()"><img
                src="{% static 'images/close_button.png' %}" width="20px" height="20px"></button>
        <h3 style="text-align: center;color:rgb(37, 109, 175);">Login Below</h3>
        Email-id:<input type="email" name="email" value="" placeholder="Enter Email-id" required="True">
        Password:<input type="password" name="password" value="" placeholder="Enter password" required="True">
        <br>
        <br>
        <input type="submit" value="login">

    </form>
</div>



<!-- sign up form -->

<div class="loginbox" id="signup">
    <form action="signup" method="POST" name="signupform" onsubmit="return validate();">
        {% csrf_token %}
        <button type="button" style="float:right;background:none;border:none;" onclick="signupclose()"><img
                src="{% static 'images/close_button.png' %}" width="20px" height="20px"></button>
        <h3 style="text-align: center;color:rgb(37, 109, 175);">SignUp Below</h3>
        Name:<input type="text" name="name" value="" placeholder="Enter first and last name" required="True">
        <br>
        Email-id:<input type="email" name="email" value="" placeholder="Enter Email-id" required="True">
        <br>
        Phone<input type="text" name="phone" value="" placeholder="Enter phone number" required="True">
        <br>
        City:<input type="text" name="city" value="" placeholder="Enter your city" required="True">
        <br>
        Password:<input type="password" name="password1" value="" placeholder="Enter password" required="True">
        <br>
        Re-Enter password:<input type="password" name="password2" value="" placeholder="Re-Enter password"
            required="True">
        <br>
        <br>
        <input type="submit" value="sign up">
    </form>
</div>
    <script src="assets/js/lisu.js"></script>
</body>
</html>

