<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="../css/login.css">
<body>
<div class="loginbox">
<img src="../img/b.png" class="avatar">
<h1>Login</h1>
<form>
<p>Email Address</p>
<input type="text" name="" placeholder="Enter email address">
<p>Password</p>
<input type="password" name="" placeholder="Enter Password">
<input type="submit" name="" value="Login">
<a href="#">Forgot password?</a><br>
<br>
<a href="../templates/createAcc.html">Create new account</a>
</form>

</div>
</body>
</head>
</html>